<app-layout>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Aluno -- {{ operacao }}</h5>  
  
        <div class="form-group col-12">
          <label for="nome" class="control-label">Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="aluno.nome"/>
          <label for="nome" class="control-label">Data de Nascimento:</label>
          <input type="date" class="form-control" [(ngModel)]="aluno.dtNascimento" />
          
          <button *ngIf="operacao == 'incluir'" (click)="salvar()" type="button" class="btn btn-success mt-3 mr-4" >Incluir</button> 
          <button *ngIf="operacao == 'alterar'" (click)="salvar()" type="button" class="btn btn-success mt-3 mr-4" >Incluir</button> 
          <button (click)="voltar()" type="button" class="btn btn-info mt-3 mr-4" >Voltar</button>
        </div>
      </div>
    </div>
  </app-layout>
  
