<app-layout>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Curso - {{operacao}}</h5>  

      <div class="form-group col-12">
        <label for="nome" class="control-label">Nome:</label>
        <input type="text" class="form-control" [(ngModel)]="curso.nome"/>
        <label for="nome" class="control-label">Instrutor:</label>
        <input type="text" class="form-control" [(ngModel)]="curso.instrutor" />
        <label for="nome" class="control-label">Local:</label>
        <input type="text" class="form-control" [(ngModel)]="curso.local"/>
        <div class="row mt-2">
          <div class="col-6">
            <label for="nome" class="control-label">Carga Horária:</label>
            <input type="number" class="form-control" [(ngModel)]="curso.cargaHoraria" />
          </div>
          <div class="col-lg-6  ">
            <label for="nome" class="control-label">Data de Início:</label>
            <input type="date" class="form-control" [(ngModel)]="curso.dataInicio"/>
          </div>
        </div>

        <button *ngIf="operacao == 'Incluir'" type="button" class="btn btn-success mt-3 mr-10" style="margin-right: 10px;" (click)="incluir()">Incluir</button> 
        <button *ngIf="operacao == 'Alterar'" type="button" class="btn btn-success mt-3 mr-10" style="margin-right: 10px;" (click)="alterar()">Alterar</button> 
        <button (click)="voltar()" type="button" class="btn btn-info mt-3 mr-10" >Voltar</button>
      </div>
    </div>
  </div>
</app-layout>
