<div class="container">
  <div class="row" style="background-color: #0069d9; margin-bottom: 20px;">
    <div class="col-lg-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            ><h1 style="color: aliceblue;">Sistema Escola</h1></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
        <!-- menu -->
        <!-- https://getbootstrap.com/docs/4.4/components/navs/ -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/curso">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aluno">Aluno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/matricula">Matricula</a>
          </li>
        </ul>
    </div>

    <div class="col-10">
      <ng-content></ng-content>
    </div>
  </div>
</div>
