<app-layout>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Curso</h5>
      <div class="row">
        <div class="form-group col-12">
          <label for="nome" class="control-label">Nome:</label>
          <input type="text" class="form-control" [(ngModel)]="curso.nome" />
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-12">
          <button (click)="msg()" type="button" class="btn btn-primary">
            Pesquisar
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table" *ngIf="cursos">
          <tr>
            <th></th>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Carga Horário</th>
            <th>Data de início</th>
            <th>Intrutor</th>
            <th>Local</th>
          </tr>
          <tr *ngFor="let curso of cursos">
            <th><input type="radio" name="selecionado" (change)="selecionar(curso)"/></th>
            <td>{{ curso.codigo }}</td>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.cargaHoraria }}</td>
            <td>{{ curso.dataInicio | date: "dd/MM/yyyy" }}</td>
            <td>{{ curso.instrutor }}</td>
            <td>{{ curso.local }}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-lg-12">
        <button
          type="button"
          class="btn btn-primary ml-2"
          (click)="incluir()"
        >
          Incluir
        </button>
        <button type="button" class="btn btn-danger ml-2" (click)="remover()">Excluir</button>
        <button type="button" class="btn btn-info ml-2" (click)="alterar()">Editar</button>
      </div>
    </div>
  </div>
</app-layout>

<!-- 
  style="margin-right: 10px;"
style="margin-right: 10px;"
style="margin-left: 20px;"
style="margin-left: 20px;"
-->