<app-layout>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Aluno</h5>
        <div class="row">
          <div class="form-group col-12">
            <label for="nome" class="control-label">Nome:</label>
            <input type="text" class="form-control" [(ngModel)]="aluno.nome" />
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-12">
            <button (click)="pesquisar()" type="button" class="btn btn-primary">
              Pesquisar
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <table class="table" *ngIf="alunos">
            <thead>
            <tr>
              <th></th>
              <th>Codigo</th>
              <th>Nome</th>  
              <th>Data de Nascimento</th>
            </tr>
          </thead>
            <tbody>
            <tr *ngFor="let aluno of alunos">
              <th><input type="radio" name="selecionado" (change)="selecionar(aluno)"/></th>
              <td>{{ aluno.codigo }}</td>
              <td>{{ aluno.nome }}</td>
              <td>{{ aluno.dtNascimento | date: "dd/MM/yyyy" }}</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      
      
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12">
          <button
            type="button"
            class="btn btn-primary ml-2"
            (click)="incluir()"
          >
            Incluir
          </button>
          <button type="button" class="btn btn-danger ml-2" (click)="remover()">Excluir</button>
          <button type="button" class="btn btn-info ml-2" (click)="alterar()">Editar</button>
        </div>
      </div>
    </div>
  </app-layout>
  
 
